<tui-island class="enroll_welcome_container">
	<h1 class="tui-island__title">{{ eventTitle }}</h1>
	<tui-scrollbar
		[hidden]="false"
		tuiOverscroll="scroll"
		class="enroll_welcome_scrollable"
	>
		<p class="tui-island__paragraph">
			Здесь должен быть мотивирующий текст, побуждающий кандидата заполнить анкетy.
		</p>
		<p class="tui-island__paragraph">
			Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное. Жизнь философски ассоциирует напряженный постмодернизм. Объект деятельности означает конфликт. Согласно предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.
		</p>
		<p class="tui-island__paragraph">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</tui-scrollbar>
	<button
		tuiButton
		(click)="applyButtonClicked()"
		class="enroll_apply"
		>
				Принять участие
		</button>
</tui-island>
