@import '~@taiga-ui/core/styles/taiga-ui-local';


.app-root {
  display: flex;
  flex-flow: column;
  background: var(--tui-base-02);
};

.header {
  @media (max-width:699px) {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
  };

  @media (min-width:700px) {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  };


  background: var(--tui-base-02);
  border-bottom: 1px solid var(--tui-base-03);
  .shadow(6);
};

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
};

.surf-icon {
  width: auto;
  height: auto;
};

.content {
  flex-grow: 1;
};

.footer {
  display: flex;
  justify-content: center;
}
