<tui-theme-night *ngIf="darkTheme"></tui-theme-night>
<tui-root>
	<div class="app-root">
		<header class="header">
			<nav class="navbar">
					<tui-svg
						src="assets/logo.svg"
						class="surf-icon"
					></tui-svg>
          <label>
            <tui-toggle
              size="l"
              class="tui-space_right-1"
              [(ngModel)]="darkTheme"
            ></tui-toggle>
            🌙
          </label>
			</nav>
		</header>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
		<footer class="footer">
			<nav class="navbar">
				<h3>© 2023 Surf.</h3>
			</nav>
		</footer>
	</div>
</tui-root>
